body {
  padding-left: 10px;
  font: 44px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  font: 36px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 5px;
}

a {
  color: #00B7FF;
  line-height: 10px;
}
